.box__left{
    width: 45%;
}

.box__left_logo{
    width: 90%;
    max-width: 300px;

}

.box__left__paragraph{
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
}


button {
    width: 200px;
    height: 40px;
    background-color: rgb(197, 44, 146);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 20px;
  }
  button:hover {
    opacity: 0.8;  
  }
  
  button:active {
    opacity: 0.5;
  }


.box__right{
    height: 600px;
}

.container__bg{
    position: fixed;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.container__bg__img{
    width: 120vw;
    position: relative;
    top: -100px;
    overflow: hidden;
}

.mask__container__bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}


@media screen and (min-width: 430px) and (max-width: 800px) {
    .box__left {
      display: grid;
      margin-right: 120px;
    }
    .box__right {
      display: none;
    }
}

@media screen and (min-width: 800px) {
  .box__right  {
    width: 45%;
    height: auto;
  }
}